<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="" style="width: 100%; align-items: center; display: flex; justify-content: center; padding: 10em 0;">
    <div class="col-md-16 col-lg-6 col-xl-4 offset-xl-1 ml-0"> 
      <div class="container">
        <img src="https://glosarium.org/wp-content/uploads/2022/04/minder_10009.png" style="width: 720px;">
      </div>
        <form action="/register" method="post">
          <div class="divider d-flex align-items-center my-4">
          </div>
          <!-- First Name input -->
          <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">First Name</label>
            <input name="firstName" type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter your First Name" />
          </div>

          <!-- Last Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Last Name</label>
          <input name="lastName" type="text" id="form3Example3" class="form-control form-control-lg"
            placeholder="Enter your Last Name" />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3">Add Profile</label>
        <input name="profilePicture" type="text" id="form3Example3" class="form-control form-control-lg"
          placeholder="Input your profile picture" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">User Name</label>
      <input name="username" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="Create your username" />
    </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Location</label>
          <input name="location" type="text" id="form3Example3" class="form-control form-control-lg"
            placeholder="Enter your Location" />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Contact</label>
          <input name="contact" type="text" id="form3Example3" class="form-control form-control-lg"
            placeholder="Input your Contact" />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
          <input name="email" type="text" id="form3Example3" class="form-control form-control-lg"
            placeholder="Create a valid email address" />
        </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Create password" />
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
          </div>
        </form>
        <% if(errors) {%>
          <% errors.forEach(el => {%>
            <p style="color: red;"><%= el %> </p>
          <% }) %> 
        <% } %> 
      </div>
    </div>
</body>
</html>