<nav class="navbar navbar-expand-lg bg-light fixed-top" style="padding:5px 100px 5px 200px;background-color:rgb(120, 139, 180) !important;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:white !important;">Home</a>
        </li>
        <li class="nav-item">
          <a href="/profile/<%= id %>" class="nav-link active" aria-current="page" style="color:white !important;">
            Profile
          </a>
        </li> 
        <li class="nav-item">
          <a href="/post/add/<%= id %>" class="nav-link active" aria-current="page" style="color:white !important;">Add New Post</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" style="color: white !important;" type="submit">Search</button>
      </form>
    </div>
    <a href="/logout" style="margin-left:25px ;color:white !important;" class="btn btn-outline-dark">Logout</a>
  </div>
</nav>